[user]
	name = Omri Bornstein
	email = omribor@gmail.com
[credential]
	helper = store
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[push]
	gpgSign = true
[core]
	editor = nano
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
